.playerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  grid-area: playerCard;
}

.cardContainer {
  grid-area: playerCard;
  position: relative;
  width: var(--card-width);
  font-size: calc(var(--card-width) * .08360302);
}

.cardAspectRatio {
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-top: 139.75%; /* 900 / 644 * 100% */
}


.attributesName {
  position: absolute;
  bottom: 27%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  font-family: cruyffsans;
  font-size: 1.05em;
  text-wrap: nowrap;
  z-index: 2;
}

.playerPortrait {
  position: absolute;
  bottom: 36.47%; /* Adjust as needed */
  left: 53%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: 62%;
  height: auto;
  z-index: 0;
}

.attributesText {
  position: absolute;
  bottom: 23.3%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  max-width: 75%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px; /* Adjust font size */
  border-radius: 5px;
  font-weight: 600;
  font-family: cruyffsanscondensed;
  font-size: 0.6em;
  z-index: 3;
}

.attributesOverlay {
  position: absolute;
  bottom: 17.5%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  max-width: 75%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  font-family: cruyffsanscondensed;
  font-size: 0.92em;
  z-index: 4;
}

.playerRatingPosition {
  position: absolute;
  bottom: 61.5%; /* Adjust as needed */
  left: 21.6%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px; /* Adjust font size */
  border-radius: 5px;
  font-weight: 700;
  font-family: cruyffsanscondensed;
  font-size: 1.9em;
  text-wrap: nowrap;
  z-index: 1;
}

.dynamicImageContainer {
  position: absolute;
  bottom: 0%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
}

.imagesSection {
  position: absolute;
  bottom: -35%; /* Adjust as needed */
  left: 48.7%; /* Center horizontally */
  transform: translateX(-50%); /* Center the element */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Center the content within the section */
  height: 100%;
  z-index: 6;
}

.imagesSection img {
  height: 6%;
  width: auto;
}

.imagesSection img:nth-child(1) {
  height: 4.5%;
  width: auto;
}

.imagesSection img:nth-child(2) {
  margin-left: 3%;
  margin-right: 1.5%;
}

.attribute {
  flex: 1;
  text-align: center;
  z-index: 6;
}

.playerMainPos {
  font-size: 0.45em;
  margin-top: -6%;
  font-weight: 700;
  z-index: 5;
}