.container {
  display: grid;
  grid-template-columns: 1fr 0.45fr;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 100%;
  gap: 20px;
  margin-top: 30px;
}

.leftSection {
  width: 100%;
}

.rightSection {
  width: 100%;
  background: var(--dark);
  border-radius: 10px;
}

.playerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}

.playerCard {
  margin-bottom: -25px;
}